@model EmailRequestViewModel

<h1>ID: # @Model.EmailRequest.Email.EmailId</h1>

<h2>Customer: @Model.EmailRequest.Email.CustomerEmail</h2>

<h2>Subject: @Model.EmailRequest.Email.Subject</h3>

<h4>Body: @Model.EmailRequest.Email.Body</h4>