@model EmailViewModel

<h1>ID: # @Model.EmailRequest.EmailId</h1>

<h2>Customer: @Model.EmailRequest.CustomerEmail</h2>

<h3>Subject: @Model.EmailRequest.Subject</h3>

<h4>Body: @Model.EmailRequest.Body</h4>