@model Email

<div class="flex-grow-1 skin-bg pt-5 p-md-4 text-center form-control mx-auto mt-5 mb-5">
	<h2 class="mb-4">Contact us</h2>
	<p>We would love to hear from you!</p>
	<p class="form-width mx-auto">Send us an email on <email address="admin@@joe-lambon.dev" content="info@@lavidacoffee.uk" class="p-0"></email>, text or phone us at +44 7552 215800, or get in touch directly via the contact form below.</p>

	<form method="post" asp-action="SendRequest" role="form" class="form-width mx-auto align-items-center" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="form-group row justify-content-center mb-2" hidden>
			<div class="form-floating form-width">
			  <input asp-for="ToEmail" class="form-control skin-bg maroon-border" id="ToEmailInputValue" value="info@@lavidacoffee.uk" readonly>
			  <label class="ps-4" for="ToEmailInputValue">Send to</label>
			  <span asp-validation-for="ToEmail" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group row justify-content-center mb-2">
			<div class="form-floating form-width"> 
			  <input asp-for="CustomerEmail" class="form-control skin-bg maroon-border" id="EmailInputValue" placeholder="your@email.com">
			  <label class="ps-4" for="EmailInputValue">Email</label>
			  <span asp-validation-for="CustomerEmail" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group row justify-content-center mb-2">
			<div class="form-floating form-width">
			  <input asp-for="Subject" class="form-control skin-bg maroon-border" id="subjectInputValue" placeholder="Subject">
			  <label class="ps-4" for="subjectInputValue">Subject</label>
			  <span asp-validation-for="Subject" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group row justify-content-center mb-2">
			<div class="form-floating form-width">
			  <textarea asp-for="Body" class="form-control skin-bg maroon-border" id="bodyInputValue" placeholder="Body" style="height: 20vh;"> </textarea>
			  <label class="ps-4" for="bodyInputValue">Message</label>
			  <span asp-validation-for="Body" class="text-danger"></span>
			</div>
		</div>
		

		<div class="form-group form-width mx-auto pe-1" style="text-align: right;">
			<input type="submit" value="Send" class="btn maroon-bg m-1" />
		</div>
	</form>
</div>