<div class="flex-grow-1 skin-bg pt-5 p-md-4 text-center form-control mx-auto mt-5 mb-5">
	<h2 class="mb-4">Contact us</h2>
	<p>Thank you for your message.</p>
	<p>We wil try to get back to you within 2 working days.</p>
	<p>Please don't hesitate to message or call us on +01 23456 789101'.</p>
</div>