<div class="flex-grow-1 skin-bg pt-5 p-4 justify-content-center">
	
	<div class="row justify-content-evenly mx-auto text-center maroon-bg p-3 pb-4 mb-5 about-container">
		<h2 class="pb-3">Our ethos</h2>
		<div class="card col-sm-12 col-md-4 about-cards skin-bg skin-border">
			<div class="tileImage pt-3 p-1">
				<img src="Images/coffeePlant.jpg" class="card-img-top img-fluid" />
			</div>
			<div class="card-body">
				<h3 class="card-title">Responsiblity</h3>
				<p class="card-text subtext">No matter the scale, our choices impact the environment...</p>
				<p class="card-text">Our cups and lids are fully recyclable. We partner only with those who care.</p>
			</div>
		</div>
		<div class="card col-sm-12 col-md-4 about-cards skin-bg maroon-border">
			<div class="tileImage pt-3 p-1">
				<img src="Images/latteArt.jpg" class="card-img-top img-fluid" />
			</div>
			<div class="card-body">
				<h3 class="card-title">Craftsmanship</h3>
				<p class="card-text subtext">Great coffee is a labour of love.</p>
				<p class="card-text">Our baristas are capable of making your drink, however you like it best.</p>
			</div>
		</div>
		<div class="card col-sm-12 col-md-4 about-cards skin-bg maroon-border">
			<div class="tileImage pt-3 p-1">
				<img src="Images/community2.jpg" class="card-img-top img-fluid" />
			</div>
			<div class="card-body">
				<h3 class="card-title">Community</h3>
				<p class="card-text subtext">We put people over profit.</p>
				<p class="card-text">Hosting events and investing in great people, Lavida aims to connect you with inspiring individuals.</p>
			</div>
		</div>
	</div>

	<div class="justify-content-evenly mx-auto text-center about-container maroon-bg p-3 mb-5">
		<h2 class="pb-3">Our story</h2>
		<div class="card mb-3 mx-auto skin-bg" style="max-width: 80vw;">
			<div class="row g-0">
				<div class="col-md-8 my-auto">
					<div class="card-body my-auto">
						<p>
							Lavida was born from a love of coffee and a yearning for more <strong>meaningful connections</strong>.
						</p>
						<p>
							Our founder, driven by a desire to bring people together, <strong>transformed his humble horsebox</strong> into a mobile coffee haven.
						</p>
						<p>
							We travel from place to place, <strong>creating spaces</strong> where people can enjoy exceptional coffee and genuine conversations. The best moments in life are shared over a cup of coffee, and we are dedicated to <strong>fostering a sense of community</strong> wherever we go.
						</p>
						<p>
							<i>Join us on our journey and become a part of the Lavida Coffee story.</i>
						</p>
					</div>
				</div>
				<div class="col-md-4 tileImage p-3" style="height:auto;">
					<img src="Images/mobile_inAction.jpg" class="img-fluid">
				</div>
			</div>
		</div>		
	</div>

	<div class="row justify-content-evenly mx-auto text-center maroon-bg about-container p-3 mb-5">
		<h2 class="pb-3">Our beans</h2>
		<div class="card mx-auto my-auto skin-bg p-4 mb-3" style="max-width: 80vw;">
			<div class="row g-0">
				<div class="col-sm-12 col-md-6 mx-auto my-auto pt-2 pb-4">
					<a href="https://ravecoffee.co.uk/">
						<div class="tileImage mx-auto p-1" id="raveLogo">
							<img src="Images/Rave_logo.svg" class="img-fluid" />
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md-6 p-3 my-auto mx-auto">
					<p>Rave's responsibily sourced beans are freshly roasted in Cirencester. That's just down the road!</p>
					<p class="subtext">The result? Incredible flavour.</p>
				</div>
			</div>
		</div>
		
	</div>
</div>