<div class="text-center position-relative" id="homeBackground">
	<video src="Videos/Home2.mp4" class="object-fit-cover z-0" autoplay="autoplay" alt="backgroundVideoHome" muted loop disablePictureInPicture></video>
	<div class="position-absolute start-50 translate-middle z-1 home-title">
		<h1 class="maroon-font-shadow p-md-3">Great flavour, wherever you are.</h1>
	</div>
</div>

<div class="flex-grow-1 skin-bg p-5">
	<div class="row p-md-4 ms-md-5 me-md-5">
		<div class="col-sm-12 col-md-4">
			<div class="tileImage">
				<img src="Images/inAction.jpg" class="object-fit-cover" />
			</div>
		</div>
		<div class="col-sm-12 col-md-8 p-2 my-auto">
			<h3 class="mb-1">Where to start?</h3>
			<p>
				Born from a desire for more <strong>meaningful living</strong>, our horsebox is a haven for those empowered by people.
			</p>
			<p>
				Serving <strong>exceptional coffee</strong>, crafted just the way you like it, we want you to feel part of a <strong>community</strong> who share that love.
			</p>
			<p>
				True joy is found in <strong>simple pleasures</strong>...
			</p>
			<p>
				<i>We supply them.</i>
			</p>

			<a class="text-decoration-none" asp-controller="about" asp-action="Index">
				<button class="maroon-bg btn m-1">
					About us
				</button>
			</a>
			<button class="maroon-bg btn m-1">Join the community</button>
		</div>
	</div>
</div>