
<div class="m-3 m-md-5">
	<div class="text-center">
		<div class="p-4" id="hq">
			<h1 class="maroon-bg rounded-2 p-1 mb-4">Our HQ</h1>
			<div class="row g-5">
				<div class="col-12 col-md-6">
					<div class="my-auto">
						<h3>Address</h3>
						<a href="https://g.co/kgs/o5QjmGk">
							<p class="m-0">Cheltenham spa station,</p>
							<p class="m-0">Queens Road,</p>
							<p class="m-0">Cheltenham,</p>
							<p class="m-0">Gloucestershire,</p>
							<p class="m-0">GL51 8NP</p>
						</a>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<h3>Opening hours</h3>
					<div class="my-auto">
						<br />
						<p class="m-0">Mon-Fri: 6am-1pm</p>
						<p class="m-0">Sat-Sun: closed</p>
						<br />
					</div>
				</div>
			</div>	
		</div>

		<div class="p-4 mt-0 mt-md-4" id="upcoming_events">
			<h1 class="maroon-bg rounded-2 p-1 mb-4">Upcoming events</h1>
			<div class="row row-cols-1 row-cols-md-3 g-3">
				@foreach(var upcomingEvent in Model)
				{
					<div class="col">
						<partial name="_EventCard" model="upcomingEvent" />
					</div>
				}
			</div>
		</div>
	</div>
</div>