<div class="screen-height m-5">
	<div class="text-center">
		<div class="p-4" id="hq">
			<h1 class="maroon-bg rounded-2 p-1 mb-4">Our HQ</h1>
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="my-auto">
						<h3>Address</h3>
						<a href="#">
							<p class="m-0">Cheltenham spa station,</p>
							<p class="m-0">Queens Road,</p>
							<p class="m-0">Cheltenham,</p>
							<p class="m-0">Gloucestershire,</p>
							<p class="m-0">GL51 8NP</p>
						</a>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<h3>Opening hours</h3>
					<div class="my-auto">
						<br />
						<p class="m-0">Mon-Fri: 6am-1pm</p>
						<p class="m-0">Sat-Sun: closed</p>
						<br />
					</div>
				</div>
			</div>
		</div>

		<div class="p-4 mt-4" id="upcoming_events">
			<h1 class="maroon-bg rounded-2 p-1 mb-4">Upcoming events</h1>
		</div>
	</div>
</div>